## Датасет собран из базы данных переписи 1994 года и содержит данные о доходах.
### Информация о данных:
* age: continuous.
* workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
* fnlwgt: continuous.
* education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, * Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
* education-num: continuous.
* marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
* occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
* relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
* race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
* sex: Female, Male.
* capital-gain: continuous.
* capital-loss: continuous.
* hours-per-week: continuous.
* native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
* salary: >50K,<=50K

## Проведите анализ данных при помощи Pandas, выполнив поставленные задачи.
####

In [1]:
import pandas as pd

In [2]:
# загружаем датасет
data = pd.read_csv("./data/adult.data.csv")
data

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

**1. Посчитайте, сколько мужчин и женщин (признак *sex*) представлено в этом датасете**

In [3]:
data['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

**2. Каков средний возраст мужчин (признак *age*) по всему датасету?**

In [4]:
data.loc[data.sex=='Male']['age'].mean()

39.43354749885268

**3. Какова доля граждан Соединенных Штатов (признак *native-country*)?**

In [5]:
len(data.loc[data['native-country']=='United-States'])/len(data)

0.895857006848684

**4-5. Рассчитайте среднее значение и среднеквадратичное отклонение возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год**

In [6]:
print('для тех, кто получает меньше 50K в год:')
less50=data.loc[data['salary']=='<=50K']['age']
print(f'среднее значение возраста: {round(less50.mean(),2)}')
print(f'среднеквадратичное отклонение возраста: {round(less50.std(),2)}\n')

print('для тех, кто получает больше 50K в год:')
more50=data.loc[data['salary']=='>50K']['age']
print(f'среднее значение возраста : {round(more50.mean(),2)}')
print(f'среднеквадратичное отклонение возраста: {round(more50.std(), 2)}')

для тех, кто получает меньше 50K в год:
среднее значение возраста: 36.78
среднеквадратичное отклонение возраста: 14.02

для тех, кто получает больше 50K в год:
среднее значение возраста : 44.25
среднеквадратичное отклонение возраста: 10.52

**6. Правда ли, что люди, которые получают больше 50k, имеют минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [7]:
hight_education=['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate']
education_of_rich=data.loc[data['salary']=='>50K']['education']
if set(education_of_rich.unique())==set(hight_education):
    print('Да, правда!')
else:
    number_of_rich_and_educated=education_of_rich.value_counts()[hight_education].sum()
    procent=number_of_rich_and_educated/len(education_of_rich)*100
    print(f'Ну не прям всеее. Только {procent.round(2)}%')

Ну не прям всеее. Только 57.84%

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Asian-Pac-Islander*.**

Cтатистика возраста для каждой расы:

In [8]:
data.groupby(by=['race']).age.describe()

,count,mean,std,min,25%,50%,75%,max
race,,,,,,,,
Amer-Indian-Eskimo,311.0,37.173633,12.447130,17.0,28.0,35.0,45.5,82.0
Asian-Pac-Islander,1039.0,37.746872,12.825133,17.0,28.0,36.0,45.0,90.0
Black,3124.0,37.767926,12.759290,17.0,28.0,36.0,46.0,90.0
Other,271.0,33.457565,11.538865,17.0,25.0,31.0,41.0,77.0
White,27816.0,38.769881,13.782306,17.0,28.0,37.0,48.0,90.0

In [9]:
age=data.groupby(by=['race']).age.describe().loc['Asian-Pac-Islander', 'max']
print(f'максимальный возраст мужчин расы Asian-Pac-Islander: {age}')

максимальный возраст мужчин расы Asian-Pac-Islander: 90.0

Cтатистика возраста для каждого пола:

In [10]:
data.groupby(by=['sex']).age.describe()

          count       mean        std   min   25%   50%   75%   max
sex
Female  10771.0  36.858230  14.013697  17.0  25.0  35.0  46.0  90.0
Male    21790.0  39.433547  13.370630  17.0  29.0  38.0  48.0  90.0

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [11]:
men=data.loc[(data['sex']=='Male')]
mask=men['marital-status'].str.contains('Married', case=True, na=False)

married_men=men[mask]
married_rich_men=married_men.loc[data['salary']=='>50K']
k_merried=len(married_rich_men)/len(married_men)

unmarried_men=men[~mask]
unmarried_rich_men=unmarried_men.loc[data['salary']=='>50K']
k_unmerried=len(unmarried_rich_men)/len(unmarried_men)

if k_merried>k_unmerried:
    print('Больше доля зарабатывающих много (>50K) среди женатых мужчин')
else:
    print('Больше доля зарабатывающих много (>50K) среди олостых мужчин')

Больше доля зарабатывающих много (>50K) среди женатых мужчин

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [12]:
max_hour=max(data['hours-per-week'])
print(f"Mаксимальное число часов человек работает в неделю: {max_hour} ч")
max_hour_worker=data.loc[data['hours-per-week']==max_hour]
print(f"Количество людей, работающих наибольшее число часов: {len(max_hour_worker)} человек")
k=len(max_hour_worker.loc[max_hour_worker['salary']=='>50K'])*100/len(max_hour_worker)
print(f"Процент зарабатывающих много людей, работающих наибольшее число часов: {round(k)}%")

Mаксимальное число часов человек работает в неделю: 99 ч
Количество людей, работающих наибольшее число часов: 85 человек
Процент зарабатывающих много людей, работающих наибольшее число часов: 29%

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

Cреднее время работы зарабатывающих много для каждой страны:

In [13]:
data.loc[data['salary']=='>50K'].groupby('native-country')['hours-per-week'].mean().round(2)

native-country
?                     45.55
Cambodia              40.00
Canada                45.64
China                 38.90
Columbia              50.00
Cuba                  42.44
Dominican-Republic    47.00
Ecuador               48.75
El-Salvador           45.00
England               44.53
France                50.75
Germany               44.98
Greece                50.62
Guatemala             36.67
Haiti                 42.75
Honduras              60.00
Hong                  45.00
Hungary               50.00
India                 46.48
Iran                  47.50
Ireland               48.00
Italy                 45.40
Jamaica               41.10
Japan                 47.96
Laos                  40.00
Mexico                46.58
Nicaragua             37.50
Peru                  40.00
Philippines           43.03
Poland                39.00
Portugal              41.50
Puerto-Rico           39.42
Scotland              46.67
South                 51.44
Taiwan                46.80
Thailand              58.33
Trinadad&Tobago       40.00
United-States         45.51
Vietnam               39.20
Yugoslavia            49.50
Name: hours-per-week, dtype: float64

Cреднее время работы зарабатывающих мало для каждой страны:

In [14]:
data.loc[data['salary']=='<=50K'].groupby('native-country')['hours-per-week'].mean().round(2)

native-country
?                             40.16
Cambodia                      41.42
Canada                        37.91
China                         37.38
Columbia                      38.68
Cuba                          37.99
Dominican-Republic            42.34
Ecuador                       38.04
El-Salvador                   36.03
England                       40.48
France                        41.06
Germany                       39.14
Greece                        41.81
Guatemala                     39.36
Haiti                         36.33
Holand-Netherlands            40.00
Honduras                      34.33
Hong                          39.14
Hungary                       31.30
India                         38.23
Iran                          41.44
Ireland                       40.95
Italy                         39.62
Jamaica                       38.24
Japan                         41.00
Laos                          40.38
Mexico                        40.00
Nicaragua                     36.09
Outlying-US(Guam-USVI-etc)    41.86
Peru                          35.07
Philippines                   38.07
Poland                        38.17
Portugal                      41.94
Puerto-Rico                   38.47
Scotland                      39.44
South                         40.16
Taiwan                        33.77
Thailand                      42.87
Trinadad&Tobago               37.06
United-States                 38.80
Vietnam                       37.19
Yugoslavia                    41.60
Name: hours-per-week, dtype: float64

**11.Сгруппируйте людей по возрастным группам *young*, *adult*, *retiree*, где:**
* *young* соответствует 16-35 лет
* *adult* - 35-70 лет
* *retiree* - 70-100 лет

**Проставьте название соответсвтуещей группы для каждого человека в новой колонке AgeGroup**

In [15]:
data['AgeGroup']=pd.cut(data['age'], [16,35,70,100], labels=['young','adult','retiree'],right=False)
data

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary,AgeGroup
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,adult
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,adult
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,adult
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,adult
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,young
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K,young
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K,adult
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K,adult
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K,young
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K,adult

**12-13. Определите количество зарабатывающих >50K в каждой из возрастных групп (колонка AgeGroup), а также выведите название возрастной группы, в которой чаще зарабатывают больше 50К (>50K)**

количество зарабатывающих >50K в каждой из возрастных групп:

In [16]:
rich_age_groups=data.loc[data['salary']=='>50K'].groupby(['AgeGroup']).size()
rich_age_groups

AgeGroup
young      1488
adult      6240
retiree     113
dtype: int64

In [17]:
richst_group=rich_age_groups.sort_values(ascending=False).index[0]
print(f"Название возрастной группы, в которой чаще зарабатывают больше 50К: {richst_group} ")

Название возрастной группы, в которой чаще зарабатывают больше 50К: adult

**14. Сгруппируйте людей по типу занятости (колонка occupation) и определите количество людей в каждой группе. После чего напишите функциюю фильтрации filter_func, которая будет возвращать только те группы, в которых средний возраст (колонка age) не больше 40 и в которых все работники отрабатывают более 5 часов в неделю (колонка hours-per-week)**

Тип занятости и количество людей в каждой группе:

In [18]:
occupation_numb=data.groupby(['occupation']).size()
occupation_numb

occupation
?                    1843
Adm-clerical         3770
Armed-Forces            9
Craft-repair         4099
Exec-managerial      4066
Farming-fishing       994
Handlers-cleaners    1370
Machine-op-inspct    2002
Other-service        3295
Priv-house-serv       149
Prof-specialty       4140
Protective-serv       649
Sales                3650
Tech-support          928
Transport-moving     1597
dtype: int64

In [19]:
def filter_func():
    d=data.groupby('occupation')
    filtered_group=occupation_numb.loc[(d['age'].mean() < 40) & (d['hours-per-week'].min()>5)]    
    return  filtered_group
filter_func()

occupation
Armed-Forces    9
dtype: int64